.f-grid{
	display: flex;
	justify-content: space-between;
	margin-left: -1rem;
	flex-flow: row wrap;
}
.f-grid-col{
	flex: 1 0;
	margin-left: 1rem;
	margin-bottom: 1rem;
	padding: 0rem;
}
.span8{
	margin-left: 10px;
}
.noidung{
		height: 300px;
}
.textareabaocao{
	
}
.checkbox{
	margin-left: 30px;
}
.hoverable:not(:hover) + .show-on-hover {
    display: none;
}